.taskListTable {
  background: #fff;
  width: 100%;
  border-radius: 20px;
  padding: 12px 20px;

  .task {

    &__severity {
      width: 25px;
      height: 25px;
      background: #333;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;

      svg {
        max-width: 15px;
        max-height: 15px;
      }
      &--critical {
        background:#F1E2E2;
        color:#C98C8C;
      }
      &--normal {
        background:#F4F0DF;
        color:#BFB58E;
      }
      &--enhancement {
        background:#E2E8F1;
        color:#879DBD;
      }
    }
    h4 {
      font-size: 0.9em;
      margin:0;
    }
    p {
      font-size: 0.8em;
      margin:0;
    }
    &__status {
      display: inline-block;
      border: 2px solid #e3e0ec;
      padding: 5px 8px;
      min-width: 45px;
      text-align: center;
      border-radius: 6px;
    }
    &__controls {
      width: 12px;

      &__arrow {
        width: 0.75em;
      }
    }
  }
}